@import "src/styles";

.open-map-btn {
  color: white;
  background-color: $primary-color;
  padding: 10px;
  font-size: 17px;
}

.description {
  width: 100%;
  height: 200px;
  padding: 10px;
  background: $app-gray-color;
  border: 1px solid $border-color;
  box-sizing: border-box;
  border-radius: 5px;
  text-indent: 10px;
}

.note {
  color: $input-placeholder-color;
}

.map-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 30px;
}

.map-frame {
  border: 2px solid black;
  height: 100%;
}

#map {
  height: 100%;
}
