<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="col-md-5 m-auto">
    <div class="text-center mt-4">
      <p class="font-weight-bold">new</p>
      <p class="title mt-1">Job</p>
    </div>
    <div class="d-flex mt-5">
      <input
        formControlName="title"
        class="w-50 mr-3" placeholder="Title *">
      <input
        formControlName="type"
        class="w-50" placeholder="Type *">
    </div>
    <div class="d-flex mt-3">
      <input [readOnly]="true"
             class="w-50 mr-3" placeholder="Location *">
      <select
        formControlName="category"
        class="w-50" name="Category">
        <option *ngFor="let category of (categories$ | async)"
                [ngValue]="category.id"
                [selected]="category.id === 1">{{category.category}}
        </option>
      </select>
    </div>
    <div class="d-flex mt-3 mr-3">
      <button type="button"
              class="w-50 btn open-map-btn mt-auto mb-auto">
        Choose location from Map
      </button>
    </div>
    <div class="mt-3">
      <span class="h5">Description</span>
      <textarea
        formControlName="description"
        class="d-block description mt-2"
        placeholder="Add job description here please"></textarea>
      <span class="note">We'll never share your email with anyone else.</span>
      <div class="text-center">
        <button type="submit" class="btn submit-button mt-3">Submit</button>
      </div>
    </div>
  </div>
</form>
