@import "./src/styles";

.toolbar-container {
  width: 100%;
  height: 70px;
  background-color: $app-gray-color;
}

.toolbar {
  top: 50%;
  transform: translateY(-50%);
}

.title {
  font-family: montserrat-bold, monospace;
  font-size: 24px;
}

.add-application-btn {
  font-family: montserrat-bold, monospace;
  font-size: 14px;
  background-color: $primary-color;
  color: white;
}

#searchInput {
  height: 40px;
  background: $app-gray-color;
  border: 1px solid $border-color;
  border-right: 0;
  box-sizing: border-box;
  border-radius: 5px 0 0 5px;
  text-indent: 10px;
}

#jobDropdown select {
  appearance: none;
  width: 100%;
  padding: 5px 10px;
  border: 1px solid $border-color;
  background-color: transparent;
  height: 40px;
}

#jobDropdown {
  position: relative;
  width: 120px;
  right: 0;
  background: url("../../assets/icon/downward.png") no-repeat top 50% right 10px;
  background-size: 12px;
}

#searchButton {
  background: $primary-color;
  border: $border-color;
  box-sizing: border-box;
  border-radius: 0 5px 5px 0;
  color: white;
}

.filter {
  font-family: montserrat, monospace;
}
