<div class="toolbar-container">
  <div class="toolbar col-md-8 m-auto d-flex justify-content-between">
    <div class="mt-auto mb-auto">
      <span class="title">{{brandName}}</span>
    </div>
    <div class="mt-auto mb-auto filter"
         [ngClass]="{'d-flex' : isToolbarOptionsEnable, 'd-none' : !isToolbarOptionsEnable}">
      <input id="searchInput" placeholder="Search">
      <div id="jobDropdown" class="job-select">
        <select name="cars">
          <option value="job">Job</option>
        </select>
      </div>
      <button id="searchButton">
        <mat-icon>search</mat-icon>
      </button>
    </div>
    <div [class.d-none]="!isToolbarOptionsEnable" class="mb-auto mt-auto">
      <button class="add-application-btn btn" routerLink="add-application">
        <span>Add Application</span>
        <img class="ml-2" alt="forward" src="assets/icon/forward.png" width="12" height="10">
      </button>
    </div>
  </div>
</div>
