<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="col-md-5 m-auto">
    <div class="text-center mt-5">
      <p class="font-weight-bold">new</p>
      <p class="title mt-1">Applicant</p>
    </div>
    <div class="d-flex mt-5">
      <input
        formControlName="fullName"
        class="w-50 mr-3" placeholder="Full Name *">
      <input
        formControlName="email"
        class="w-50" placeholder="Email *">
    </div>
    <div class="d-flex mt-3">
      <input formControlName="phone"
             class="w-50 mr-3" placeholder="Phone">
      <select formControlName="status"
              class="w-50"
              name="Category">
        <option *ngFor="let status of statusList"
                [ngValue]="status.title"
                [selected]="true">{{status.title}}</option>
      </select>
    </div>
    <div class="d-flex mt-3">
      <select
        formControlName="job"
        class="w-50 mr-3" name="Job">
        <option *ngFor="let job of (jobList$ | async)"
                [ngValue]="job.id"
                [selected]="job.id === 1">{{job.title}}
        </option>
      </select>
      <div class="w-50">
        <button class="btn add-job-button mt-auto mb-auto" routerLink="add-job">+</button>
      </div>
    </div>
    <div class="mt-5">
      <input #fileInput type="file" [hidden]="true"
             (change)="onFileSelected($event)">
      <div class="m-auto file-input" (click)="fileInput.click()">
        <span class="attachment-img">
          <img src="assets/icon/attachment.png" alt="attachment" width="20px">
          <span class="ml-2">{{chooseFileTitle}}</span>
        </span>
      </div>
      <div class="text-center">
        <button type="submit" class="btn submit-button mt-3">Submit</button>
      </div>
    </div>
  </div>
</form>
