@import "src/styles";

* {
  font-family: montserrat, monospace;
}


.title {
  font-family: montserrat-bold, monospace;
  font-size: 34px;
}

input {
  height: 50px;
  background: $app-gray-color;
  border: 1px solid $border-color;
  box-sizing: border-box;
  border-radius: 5px;
  text-indent: 10px;
}

.add-job-button {
  width: 49px;
  height: 45px;
  font-family: montserrat-bold, monospace;
  font-size: 14px;
  background-color: $primary-color;
  color: white;
}

.file-input {
  position: relative;
  width: 350px;
  height: 70px;
  background-color: $app-gray-color;
  border: 1px solid $border-color;
  border-radius: 5px;
  color: $input-placeholder-color;
}

::placeholder {
  color: $input-placeholder-color;
}

.attachment-img {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}

.submit-button {
  height: 50px;
  font-family: montserrat-bold, monospace;
  font-size: 15px;
  background-color: $primary-color;
  color: white;
  padding: 10px 30px 10px 30px;
}

select {
  appearance: none;
  padding: 5px 10px;
  border: 1px solid $border-color;
  border-radius: 5px;
  position: relative;
  right: 0;
  background: $app-gray-color url("../../../assets/icon/downward.png") no-repeat top 50% right 10px;
  background-size: 12px;
}
