/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@font-face {
  font-family: montserrat;
  src: url("assets/font/Montserrat-Regular.ttf");
}

@font-face {
  font-family: montserrat-bold;
  src: url("assets/font/Montserrat-Bold.ttf");
}

$primary-color: #23A6F0;
$app-gray-color: #F9F9F9;
$border-color: #E6E6E6;
$input-placeholder-color: #737373;
