@import "src/styles";

table {
  left: 50%;
  transform: translateX(-50%);
}

th, td {
  border-bottom: 15px solid transparent; /* [2] */
  background-color: $app-gray-color; /* [3] */
  background-clip: padding-box; /* [4] */
  padding-left: 20px;
}

th {
  height: 60px;
  font-family: montserrat-bold, monospace;
}

td {
  height: 100px;
}

.label {
  font-family: montserrat-bold, monospace;
}

.action-btn {
  font-family: montserrat, monospace;
  font-size: 14px;
  background-color: $primary-color;
  color: white;
}

.date {
  font-size: 12px;
}

.table-pagination {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border: 2px solid $border-color;
  border-radius: 5px;
  font-family: montserrat-bold, monospace;
  font-size: 16px;
}

.table-pagination span {
  color: $primary-color;
  float: left;
  padding: 18px 16px;
  text-decoration: none;
}

.cursor-pointer {
  cursor: pointer;
}

.table-pagination span.active {
  background-color: $primary-color;
  color: white;
}

.table-pagination span.disable {
  background-color: $app-gray-color;
  color: #BDBDBD;
  cursor: default;
}

.sort {
  width: 30px;
  height: 30px;
  border: 1px solid #23A6F0;
  border-radius: 50%;
  padding: 4px 4px 4px 4px;
  transform: rotate(-90deg);
  cursor: pointer;
}

.sorted {
  transform: rotate(90deg);
}
