<div class="col-md-12 mt-5" *ngIf="(totalItems$ | async) as totalItems">
  <table *ngIf="(activeItems$ | async) as activeItems" class="col-md-8 border-0">
    <tr id="header">
      <th *ngFor="let column of tableColumns">
        <div class="d-flex text-center">
          <div class="mt-auto mb-auto">{{column.label}}</div>
          <div *ngIf="column.label.length"
               class="sort ml-1" [class.sorted]="column.sorted"
               (click)="onSortClick(column, activeItems)">
            >
          </div>
        </div>
      </th>
    </tr>
    <tr id="row" *ngFor="let row of activeItems">
      <td *ngFor="let column of tableColumns" [ngSwitch]="column.key">

        <ng-container *ngSwitchDefault>
          <span class="label font-weight-bold">{{getData(row, column.key)}}</span>
        </ng-container>

        <ng-container *ngSwitchCase="'status'">
          <p class="label">
            {{getData(row, column.key)}}
          </p>
          <p class="date text-right mr-2">
            {{handleDate(getData(row, 'createdAt'))}}
          </p>
        </ng-container>

        <ng-container *ngSwitchCase="'action'" class="text-center">
          <button
            class="d-block m-auto btn action-btn">Remove
          </button>
          <button *ngIf="row.resume !== null"
                  class="d-block ml-auto mr-auto mt-1 btn action-btn">Download
          </button>
        </ng-container>
      </td>
    </tr>
  </table>

  <div *ngIf="(pagination$ | async) as pagination"
       class="table-pagination cursor-pointer">
    <span class="border-right"
          [class.disable]="pagination.prevPage === null"
          (click)="onPageClick(1, pagination, totalItems.length)">First</span>
    <span
      *ngFor="let _ of [].constructor(pagination.pageTotal); let index = index"
      [class.active]="(index + 1) === (activePage$ | async)"
      (click)="onPageClick(index + 1, pagination, totalItems.length)"
      class="border-right">{{index + 1}}</span>
    <span *ngIf="(activePage$ | async) as activePage"
          [class.disable]="pagination.nextPage === null"
          (click)="onPageClick(activePage + 1, pagination, totalItems.length)">Next</span>
  </div>
</div>
